<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>添加项目基本信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="projectName" class="layui-form-label">
                            <span class="x-red">*</span>项目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="projectName" name="projectName" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>项目类型</label>
                        <div class="layui-input-inline">
                           <select id="projectType" name="projectType">
                               <option value="政府采购服务项目">政府采购服务项目</option>
                               <option value="在线运营">在线运营</option>
                               <option value="在线工程">在线工程</option>
                               <option value="废气运营项目">废气运营项目</option>
                               <option value="废水运营项目">废水运营项目</option>
                               <option value="废气项目">废气项目</option>
                               <option value="废水项目">废水项目</option>
                           </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="grossAmount" class="layui-form-label">
                            <span class="x-red">*</span>工程总金额</label>
                        <div class="layui-input-inline">
                            <input type="number" onkeyup="value=value.replace(/[^\d]/g,'') " id="grossAmount" name="grossAmount" required=""  autocomplete="off" class="layui-input"></div>
                    </div>

                    <div class="layui-form-item">
                        <label for="projectSource" class="layui-form-label">
                            <span class="x-red">*</span>业务来源</label>
                        <div class="layui-input-inline">
                            <input type="text" id="projectSource" name="projectSource" required=""  autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="ownerName" class="layui-form-label">业主名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="ownerName" name="ownerName" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="principal" class="layui-form-label">主要负责人</label>
                            <div class="layui-input-inline">
                                <input type="text" id="principal" name="principal" required="" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                    </div>
                    <div class="layui-form-item layui-form-text x-city" id="chenshi">
                        <label  class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline">
                                <select name="province" lay-filter="province">
                                    <option value="">请选择省</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="city" lay-filter="city">
                                    <option value="">请选择市</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="area" lay-filter="area">
                                    <option value="">请选择县/区</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>项目处理类型</label>
                        <div class="layui-input-inline">
                            <select id="projectProcessingType" name="projectProcessingType" lay-filter="">
                                <option value="仅设备采购">仅设备采购</option>
                                <option value="设计施工">设计施工</option>
                                <option value="仅施工">仅施工</option>
                                <option value="仅设计监理">仅设计监理</option>
                                <option value="仅监理">仅监理</option>
                                <option value="仅设计">仅设计</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label">签订状态</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="aStateOf" lay-skin="switch" lay-text="签订|未签订"  lay-filter="aStateOf">
                        </div>
                    </div>
                    <div id="yinchang" >
                    <div class="layui-form-item">
                        <label for="receiptsAmount" class="layui-form-label">
                            <span class="x-red">*</span>实收金额</label>
                        <div class="layui-input-inline">
                            <input type="number"  onkeyup="value=value.replace(/[^\d]/g,'') "id="receiptsAmount" name="receiptsAmount"  autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="rebateAmount" class="layui-form-label">
                            <span class="x-red">*</span>返佣金额</label>
                        <div class="layui-input-inline">
                            <input type="number" onkeyup="value=value.replace(/[^\d]/g,'') " id="rebateAmount" name="rebateAmount"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="airTime" class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="airTime" name="startTime" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="finishTime" class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <input type="text" id="finishTime" name="finishTime" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label  class="layui-form-label">
                            <span class="x-red">*</span>项目进度</label>
                        <div class="layui-input-inline">
                            <select id="projectProgress" name="projectProgress" lay-filter="">
                                <option value="未开展">未开展</option>
                                <option value="项目信息确认">项目信息确认</option>
                                <option value="报价方案送出">报价方案送出</option>
                                <option value="预付款已付">预付款已付</option>
                                <option value="进度款A已付">进度款A已付</option>
                                <option value="进度款B已付">进度款B已付</option>
                                <option value="待验收">待验收</option>
                                <option value="项目完成">项目完成(只保金未收)</option>
                                <option value="项目完成">项目完成</option>
                                <option value="项目终止">项目终止</option>
                                <option value="除项目终止以外">除项目终止以外</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="additionalService" class="layui-form-label">附加业务</label>
                        <div class="layui-input-inline">
                            <input type="text" id="additionalService" name="desc" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>

<!--                    <div class="layui-form-item layui-form-text">-->
<!--                        <label for="photosForFiling" class="layui-form-label">照片留档</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <button type="button" class="layui-btn" id="photosForFiling" name="photosForFiling">-->
<!--                                <i class="layui-icon">&#xe67c;</i>上传图片-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="layui-form-item layui-form-text">-->
<!--                        <label for="projectDetails" class="layui-form-label">项目明细</label>-->
<!--                        <div class="layui-input-block">-->
<!--                            <textarea type="" id="projectDetails" name="projectDetails" required=""  autocomplete="off" class="layui-textarea" ></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-form-item">
                        <label for="existingProblem" class="layui-form-label">存在问题</label>
                        <div class="layui-input-block">
                            <textarea type="" id="existingProblem" name="existingProblem" required=""  autocomplete="off" class="layui-textarea" ></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="collectionRatio" class="layui-form-label">收款比例</label>
                        <div class="layui-input-inline">
                            <input type="text" id="collectionRatio" name="desc" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="uncollectedProportion" class="layui-form-label">未收比例</label>
                        <div class="layui-input-inline">
                            <input type="text" id="uncollectedProportion" name="desc" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="invoiceAmount" class="layui-form-label">开票金额</label>
                        <div class="layui-input-inline">
                            <input type="text" onkeyup="value=value.replace(/[^\d]/g,'') " id="invoiceAmount" name="desc" required=""  autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    </div>

        <div class="layui-form-item">
            <label  class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="" id="add">增加</button></div>
        </form>
        </div>
        </div>
        <!-- 引入城市插件 -->
        <script type="text/javascript" src="js/xcity.js"></script>
        <script>layui.use(['form', 'layer','laydate','upload'],
            function() {
                $ = layui.jquery;
                 form = layui.form,
                layer = layui.layer;
                laydate = layui.laydate;
                upload = layui.upload;

                var imagesPath="";//上传的图片路径
                //隐藏不必要数值
                $("#yinchang").hide()
                //日期选择    finishTime
                laydate.render({
                    elem: '#airTime' //指定元素
                });
                laydate.render({
                    elem: '#finishTime' //指定元素
                });

                //监听开关，开，在启动隐藏隐藏的事件
                form.on('switch(aStateOf)',function (res) {
                    console.log(res.elem.checked)
                   // yinchang
                    if(res.elem.checked){
                        $("#yinchang").show()
                    }else {
                        $("#yinchang").hide()
                }
                return false;
                })

                //图片上传
                //执行实例
                var uploadInst = upload.render({
                    elem: '#photosForFiling' //绑定元素
                    ,url: '/Basic/uploadImage' //上传接口
                    ,accept:"images"
                  //  ,auto:false
                 //   ,bindAction:"#add"
                    ,done: function(res){
                        //上传完毕回调
                        //返回自己的路径回来  提取自己的路径出来
                        console.log(res.data.src)

                    }
                    ,error: function(){
                        //请求异常回调
                    }
                });

                //引入城市插件
                $('#chenshi').xcity();//'福建','漳州市'


                //监听提交
                form.on('submit(add)',
                function(data) {
                    //创建基本信息对象
                    console.log(data.field)
                    // //提交信息
                    $.ajax({
                        url:"/Basic/insertBasucByserialNumber",
                        type:"post",
                        data:data.field,
                        success:function (res) {
                     //   console.log(JSON.stringify(data.field))
                          //  console.log(JSON.stringify(res))
                            layer.close(layer.index);

                            window.parent.location.reload();
                        }
                    })


                    return false;
                });

            });</script>

    </body>

</html>