<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>任务分配</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-form-item">
                            <label  class="layui-form-label">选择项目</label>
                            <div class="layui-input-inline">
                                <select name="projectId" id="projectId" lay-verify="required" lay-search="">
                                </select>
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                    <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table" lay-filter="test" id="demo">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- 行内事件模板 -->
<script type="text/html"  id="hangnei" >
    <a title="编辑"  href="javascript:;" lay-event="updata"><!--   onclick="xadmin.open('编辑','basicproject-update.html',900,700)" -->
        <i class="layui-icon">&#xe642;</i>
    </a>
    <!--        <a onclick="xadmin.open('修改密码','member-password.html',600,400)" title="修改密码" href="javascript:;">-->
    <!--            <i class="layui-icon">&#xe631;</i>-->
    <!--        </a>-->
    <a title="删除"   lay-event="delet"  href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>
<!-- 表头部事件 -->
<script type="text/html" id="toolbarDemo">
    <div class = "layui-btn-container" >

        <button type="button" class="layui-btn layui-btn-sm "  lay-event = "isAdd">
            <i class="layui-icon">&#xe654;</i> 添加
        </button>

        <button type="button" class="layui-btn layui-btn-sm  layui-btn-danger"  lay-event = "isAll">
            <i class="layui-icon">&#xe640;</i> 批量删除
        </button>
        <button type="button" class="layui-btn layui-btn-sm  l"  onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" ></i>
        </button>
    </div >
</script>
<script>layui.use(['table','form','jquery'],
    function() {
        var    table = layui.table;
        form=layui.form;
        $= layui.jquery;

        var addid=0;
        //初始化列表
        var  tableIns=table.render({
            elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
            ,id:'test'
            ,url:'/TaskAllocation/selectPage'
            ,page: true //开启分页
            ,where:{projectId:"0"}
            //  ,data:{username:"hahha"}
            ,toolbar:'#toolbarDemo'
            ,cols:[//中括号必须隔开
                [ //表头
                    {type: 'checkbox' ,fixed:"left"}
                    ,{field:'taskAllocationId', width:200, sort: true,title:"任务分配编号"}
                    ,{field:'taskAllocationName', width:200,title:"任务分配名称"}
                    ,{field:'taskAllocationOutput', width:100,title:"输出情况"}
                    ,{field:'taskAllocationPersonnel', width:200,title:"人员"}
                    ,{field:'taskAllocationSigned', width:200,title:"是否签订",templet:function (d) {
                        var state = "";
                        if (d.taskAllocationSigned=="on") {
                            state = "<input type='checkbox' value='" + d.aStateOf + "'  disabled lay-filter='aStateOf' checked='checked' name='aStateOf'  lay-skin='switch' lay-text='签订|未签订' >";
                        }
                        else {
                            state = "<input type='checkbox' value='" + d.aStateOf + "' disabled  lay-filter='aStateOf'  name='aStateOf'  lay-skin='switch' lay-text='签订|未签订' >";
                        }
                        return state;
                    }
                }
                    ,{field:'taskAllocationType', width:200,title:"项目类型"}
                    ,{field:'taskAllocationNote', width:200,title:"备注"}
                    ,{ width:100,title:"操作",templet:$("#hangnei")}
                ]
            ],//设置表头
        });

        //渲染已审核项目的信息
        $.ajax({
            type:'POST',
            url:'/Basic/selectAll',
            dataType:'json',
            success:function(data){
                var str= "";
                for(var key in data){
                    str += "<option value=\""+data[key].serialNumber+"\">"+data[key].projectName+"</option>";
                    if(key==0){
                        addid=data[key].serialNumber
                        tableIns.reload({
                            where:{projectId:+data[key].serialNumber}
                            ,page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                }
                $("#projectId").append(str);
                form.render('select');
            }
        });





        //监听行内操作事件
        table.on('tool(test)', function (obj) {
            var layEvent = obj.event;
            var xuhao=obj.data.taskAllocationId
            switch (layEvent) {
                case 'delet':
                    //确定是否删除
                    layer.confirm("确定删除嘛", {title: "删除"}, function () {
                        // layer.alert(JSON.stringify(data));//    /Basic/deletBasicProjectList
                        console.log(obj)//serialNumber
                        $.ajax({
                            type: "post",
                            url: "/TaskAllocation/deleteTaskAllocationId",
                            traditional: true,//开启后台数组转化
                            data: {lists: xuhao}, //把前台变量传入后台处理
                            success: function () {
                                location.reload()
                                layer.msg("删除成功")
                            }
                        });
                    })
                    break;
                case   "updata":
                    layer.open({
                        title: "编辑",
                        type: 2,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['500px', '500px'], //宽高
                        maxmin: true, //开启最大化最小化按钮
                        shadeClose:true,
                        content: "/TaskAllocation/TaskAllocationUpdate.html",
                        success: function (layero, index) {
                            // 获取子页面的iframe
                            var iframe = window['layui-layer-iframe' + index];
                            // 向子页面的全局函数child传参
                            iframe.child(obj.data);
                        }
                    })
                    break;
            }
        })

        //监听搜索框
        form.on('submit(sreach)',function(data){
            console.log(addid=data.field);
            tableIns.reload({
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //头工具栏事件
        table.on('toolbar(test)',
            function(obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'isAdd':
                        layer.open({
                            title: "添加",
                            type: 2,
                            skin: 'layui-layer-rim', //加上边框
                            area: ['500px', '600px'], //宽高
                            maxmin: true, //开启最大化最小化按钮
                            shadeClose:true,
                            content: "/TaskAllocation/TaskAllocationAdd.html",
                            success: function (layero, index) {
                                // 获取子页面的iframe
                                var iframe = window['layui-layer-iframe' + index];
                                // 向子页面的全局函数child传参
                                iframe.child(addid);
                            }
                        })
                        break;
                    case 'isAll':       //批量删除
                        var data = checkStatus.data;
                        //拿出序号的数组
                        var xuhao = new Array();
                        for (var i = 0; i < data.length; i++) {
                            xuhao.push(data[i].taskAllocationId)
                        }
                        if (checkStatus.data.length == 0) {
                            layer.msg("未选中")
                        } else {
                            //确定是否删除
                            layer.confirm("确定删除嘛", {title: "批量删除"}, function () {
                                // layer.alert(JSON.stringify(data));//    /Basic/deletBasicProjectList
                                console.log(xuhao)//serialNumber
                                $.ajax({
                                    type: "post",
                                    url: "/TaskAllocation/deleteTaskAllocationId",
                                    traditional: true,//开启后台数组转化
                                    data: {lists: xuhao}, //把前台变量传入后台处理
                                    success: function () {
                                        location.reload()
                                        layer.msg("删除成功")
                                    }
                                });
                            })
                        }
                        break;
                };
            })

    });</script>

</html>